{% extends "layouts/master.html" %}

{% block content %}
    <div class="table-autors">
        {% if autores %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Operación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in autores %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.apellido }}</td>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.usuario }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        Seleccione <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'autor:actualizar' item.id %}">Actualizar</a></li>
                                        <li><a href="{% url 'autor:eliminar' item.id %}">Eliminar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>                    
                    {% endfor %}
                </tbody>
            </table>

            {% if autores.has_other_pages %}
                <ul class="pagination">
                    {% if autores.has_previous %}
                        <li><a href="?page={{ autores.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    
                    {% for i in autores.paginator.page_range %}
                        {% if autores.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if autores.has_next %}
                        <li><a href="?page={{ autores.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}

        {% else %}
            <div class="alert alert-warning">
                <p>No Hay Registto de Usuarios</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
