{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DjangoBasico{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap-flaty.min.css' %}">
    {% endblock %}
    <style>
        body { padding-top: 70px; }
    </style>
</head>
<body>
    {% include "partials/header.html" %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
