{% extends "layouts/master.html" %}

{% block title %}
    Formulario de Tarjeta
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Formulario de Tarjeta</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-block btn-primary" value="Guardar">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
