{% extends "layouts/master.html" %}

{% block title %}
    Tarjetas
{% endblock %}

{% block content %}
    {% if object_list %}
    <div class="row">
        {% for item in object_list %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ item.titulo }}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="{{ item.imagen.url }}" class="img-responsive" alt="{{ item.titulo }}">
                    </div>
                    <div class="panel-footer">
                        <p>{{ item.autor }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <p>No Hay Tarjetas</p>
        </div>
    {% endif %}
{% endblock %}
