{% extends "layouts/master.html" %}

{% block content %}

<form method="post">
  <div class="form-group">
      {% csrf_token %}
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
